{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<div class="card">
  <div class="card-header">
    {{#if postagem.id}}
      Nova postagem
    {{else}}
      Editar postagem
    {{/if}}
  </div>
  <div class="card-body">

    <form action="/admin/postagens/salvar" method="POST" class="row g-3">
      <input type="hidden" name="id" value="{{postagem._id}}">
      <div class="col-12">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo" required value="{{postagem.titulo}}">
      </div>
      <div class="col-md-6">
        <label for="categoria" class="form-label">Categoria</label>
        <select id="categoria" name="categoria" class="form-select" required>
          <option value="" hidden>Selecione uma categoria</option>
          {{#each categorias}}
            <option value="{{_id}}"{{#ifCond ../postagem.categoria '==' _id}} selected{{/ifCond}}>{{nome}}</option>
          {{else}}
            <option value="0">Nenhuma categoria registrada</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-6">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" required value="{{postagem.slug}}">
      </div>
      <div class="col-12">
        <label for="conteudo" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="descricao" name="descricao" required value="{{postagem.descricao}}">
      </div>
      <div class="col-12">
        <label for="conteudo" class="form-label">Conteúdo</label>
        <textarea class="form-control" placeholder="Digite o conteúdo de sua postagem" id="conteudo" name="conteudo" style="height: 100px" required>{{postagem.conteudo}}</textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar postagem</button>
      </div>
    </form>

  </div>
</div>


