<div class="h-100 p-5 bg-light border rounded-3">
  <h1 class="display-5">Bem vindo ao Blog do Node</h1>
  <p>Este é um BLOG simples, desenvolvido com Node.js + Express + MongoDB.</p>
  <button class="btn btn-outline-secondary" type="button" onclick="window.open('/usuario/cadastro', '_self');">Crie uma conta</button>
</div>


<h2 class="mt-4">Postagens recentes:</h2>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">{{titulo}}</h5>
      <p class="card-text">{{descricao}}</p>
      <a href="/postagem/{{slug}}" class="btn btn-primary">Leia mais</a>

      <hr>
      <p class="small m-0">Categoria: {{categoria.nome}}</p>
      <p class="small m-0">Data: {{inclusao}}</p>
    </div>
  </div>

{{else}}
  <h5 class="mt-4">Nenhuma postagem</h5>
{{/each}}